// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets

// Import GOV.UK frontend toolkit
@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

// Helpers
@import "elements/helpers";

// Reset
@import "elements/reset";

// Typography
@import "elements/typography";

// Layout
@import "elements/layout";

// Modules
// ==========================================================================

// Forms
@import "elements/forms";

// Tables
@import "elements/tables";

// Buttons
@import "elements/buttons";

.button-get-started {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    background-image: url("/public/images/icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

// Details
@import "elements/details";

// Lists
@import "elements/lists";

// Panels
@import "elements/panels";
