{{<layout}}

{{$content}}

<main id="content" role="main">

	<h2 class="heading-large">Vehicle: <span class="registrationNumber">RK14 HWM</span></h2>
	<!-- feel free to change this page to suit your needs -->

  <div class="isValidTax">
    <h3 class="">Tax</h3>
    <p>Tax due: 01 January 2016</p>
  </div>
	
  <div class="isValidMot">
    <h3 class="">MOT</h3>
    <p>MOT due: 03 March 2017</p>
  </div>

	<fieldset class="">

  <div class="form-group">
    <table>
    <thead>
      <tr>
        <th colspan="2">Dates and amounts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vehicle make:</td>
        <td>VAUXHALL</td>
      </tr>
      <tr>
        <td>Date of first registration:</td>
        <td>27 June 2014</td>
      </tr>
      <tr>
       <td>Year of manufacture:</td>
        <td>2014</td>
      </tr>
      <tr>
        <td>Cylinder capacity (cc):</td>
        <td>1598cc</td>
      </tr>
    </tbody>
  </table>
  </div>

  </fieldset>
	
	
	<a href="/private-or-trade{{formQuery}}" class="button" role="button">Continue</a>
	
	
</main>

{{/content}}

{{/layout}}
