{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Share this code with the buyer</h1>
	<!-- feel free to change this page to suit your needs -->

  <p>i.e. explain code</p>
	
	<fieldset class="">

    <div class="form-group">
    <h2 class="heading-large">4H-5F-4N-2X-9W-1L</h2>
    </div>

    <div class="form-group">
    <label class="form-label" for="full-name-f1">Buyers email</label>
  <input class="form-control" id="full-name-f1" type="text">
    </div>

  </fieldset>
	
	
	<a href="/code-no-find-vehicle/" class="button" role="button">Send</a>
	
</main>

{{/content}}

{{/layout}}
