{{<layout}}

{{$content}}

<main id="content" role="main">

  <div class="form-group"></div>
  
  <fieldset class="">

  <div class="complete-header">
  	<h2 class="heading-large">You are now the keeper of vehicle: <span class="registrationNumber">RK14 HWM</span></h2>
  </div>

  </fieldset>

  <div class="panel-indent">
    <p>New keepers must get tax before using the vehicle.</p>
    <p>If you have taxed, made a SORN or had a MOT it can take up to 5 days for these details to be shown above. If you have a valid paper MoT certificate this is proof that the vehicle has been tested.</p>
  </div>

  <div class="TaxValid" style="background:#BFC1C3;">
    <h3 class="">Tax</h3>
    <p>Tax due: 01 January 2016</p>
  </div>
	
  <div class="MotValid">
    <h3 class="">MOT</h3>
    <p>MOT due: 03 March 2017</p>
  </div>
	
</main>

{{/content}}

{{/layout}}
