{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Are you a motor trader?</h1>
	<!-- feel free to change this page to suit your needs -->

  <!-- question only needed for buyers, as we will already have the vehicle record, therefore know if it is in trade or not -->
	
	<fieldset class="">

    <div class="form-group">
    <label class="block-label" for="radio-1">
      <input id="radio-1" type="radio" name="radio-group" value="no">
      No
    </label>
    </div>

    <div class="form-group">
    <label class="block-label" for="radio-2">
      <input id="radio-2" type="radio" name="radio-group" value="yes">
      Yes
    </label>
    </div>

  </fieldset>
	
	
</main>

{{/content}}

{{/layout}}
