{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Verify</h1>
	<!-- feel free to change this page to suit your needs -->

  <!-- question not needed if: we will already know the vehicle is in trade or not, as the user has said they are the present keeper and we know what vehicle we're talking about -->
	
	
	<fieldset class="">

    blank

  </fieldset>
	
	
	<a href="/share-code{{formQuery}}" class="button" role="button">Continue</a>
	
	
</main>

{{/content}}

{{/layout}}
