{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">What do you want to do?</h1>
	<!-- feel free to change this page to suit your needs -->
	
  <p>i.e. are you the old owner or the new one?</p>
	
	<fieldset class="">

    <div class="form-group">
    <label class="block-label" for="radio-1">
      <input id="radio-1" type="radio" name="radio-group" value="Yes">
      Buy a vehicle
    </label>
    </div>

    <div class="form-group">
    <label class="block-label" for="radio-2">
      <input id="radio-2" type="radio" name="radio-group" value="No">
      Sell a vehicle
    </label>
    </div>
    
  </fieldset>
	
	<a href="/code-no-or-yes/" class="button" role="button">Continue</a>
	
</main>

{{/content}}

{{/layout}}
