{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Find vehicle to transfer</h1>
	<!-- feel free to change this page to suit your needs -->
	
	<fieldset class="">

	<div class="form-group">
	  <label class="form-label" for="full-name-f1">V5C vehcile certificate numnber</label>
	  <input class="form-control" id="full-name-f1" type="text">
	</div> 

	<div class="form-group">
	  <label class="form-label" for="full-name-f1">Vehicle registration</label>
	  <input class="form-control" id="full-name-f1" type="text">
	</div>
	
	<div class="form-group">  
	  <label class="form-label" for="full-name-f1">Make</label>
	  <input class="form-control" id="full-name-f1" type="text">  
	</div>

  	</fieldset>
	
	
	<a href="/vehicle-record/" class="button" role="button">Continue</a>
	
	
</main>

{{/content}}

{{/layout}}
