{{<layout}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Buy or sell a vehicle</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>You must tell the government if you've bought or sold a vehicle.</p>
	
	<a href="buyer-or-seller/" class="button button-get-started" role="button">Start now</a>
	
	<h2 class="heading-large">Before you start</h2>
	
	<ul class="list-bullet">
	    <li>here is a bulleted list</li>
	    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
	    <li>vestibulum id ligula porta felis euismod semper</li>
	    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  	</ul>


</main>

{{/content}}

{{/layout}}
